@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
:root {
  font-family: 'Inter', sans-serif;
  color: #a7a7a7;
  background-color: #262626;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  font-family: 'Inter', sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
}


a{
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
}